  ::-webkit-scrollbar {
    height: 8px; 
  }

  ::-webkit-scrollbar-track {
    background: #e3f2fd; 
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1976d2; 
    border-radius: 4px; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #115293; 
  }
